{% extends '../store/base.html' %}

{% block title %}Deleted account{% endblock title %}


{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="mt-5 py-5 login d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6 mx-auto">
                                {% if user.is_staff %}
                                    <div class="text-center alert alert-danger" role="alert">
                                        <h3 class="mb-4">We are sorry but for security reasons admin account can't be deleted.</h3>
                                        <p>Thank you</p>
                                    </div>
                                {% else %}
                                    <div class="text-center alert alert-warning" role="alert">
                                        <h3 class="mb-4">Account deleted</h3>
                                        <p>Thank you</p>
                                    </div> 
                                {% endif %}                                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}