{% extends '../store/base.html' %}

{% block title %}Edit profile{% endblock title %}


{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7  mx-auto">
                                <form class="account-form p-4 rounded col-lg-10 mx-auto" method="post" ecntype="multipart/form-data">
                                    {% csrf_token %}
                                    <h3 class="text-center py-5">Change your profile</h3>
            
                                    

                                    {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">Error: Try again</div>
                                    {% endif %}

                                    {% csrf_token %}
                                    
                                    <label class="small font-weight-bold">{{ userform.email.label}}</label>
                                    {{ userform.email }}
                                    
                                    <label class="small font-weight-bold">{{ userform.username.label}}</label>
                                    {{ userform.username }}

                                    <labelclass="small font-weight-bold">{{ userform.country.label }}</label>
                                    {{ userform.country }}
                                    
                                    <labelclass="small font-weight-bold">{{ userform.city.label }}</label> 
                                    {{ userform.city }}

                                    <label class="small font-weight-bold">{{ userform.address.label }}</label> 
                                    {{ userform.address }}
                                    
                                    <label class="small font-weight-bold">{{ userform.phone_num.label }}</label>
                                    {{ userform.phone_num }}
                                    
                                    <label class="small font-weight-bold">{{ userform.cap_code.label }}</label> 
                                    {{ userform.cap_code }}

                                    
                                    <div class="text-center">
                                        <button class="btn btn-outline-success btn-block py-2 mb-4 mt-5" type="submit" value="Save changes">
                                        Save
                                        </button>
                         
                                    </div>

                                    {% if userform.is_valid %}
                                        <div class="alert alert-success" role="alert">
                                            Profile successfully updated!
                                            <a href="{% url "account:profile" %}">Return to your profile</a>
                                        </div>
                                    {% endif %}
                                </form>
                                
                                <form class="text-center account-form px-4" action="{% url "account:delete" %}" method="post">
                                    {% csrf_token %}
                                    <p class="h2 pt-4 font-weight-bold">Want to delete your account?</p>
                                    <button type="submit" role="button" class="btn btn-outline-danger btn-block">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
