{% extends '../store/base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7  mx-auto">
                                <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
                                    {% csrf_token %}

                                    {% if user.is_staff %}
                                        <h3 class="mb-4 py-5 text-center font-weight-bold">Create a new seller</h3>
                                    {% else %}
                                        <h3 class="mb-4 py-5 text-center font-weight-bold">Create a new account</h3>
                                    {% endif %}

                                    {% if form.errors %}
                                        {% for f in form %}
                                            {% for error in f.errors %}
                                                <div class="alert alert-danger" role="alert">{{f.label}}: {{error}}</div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    <label>{{ form.username.label }}<span class="text-muted small"></span></label>
                                    {{ form.username }}
                                    
                                    <label>{{ form.email.label}}<span class="text-muted small"></span></label>
                                    {{ form.email }}
                                    
                                    <label>{{ form.password.label}}<span class="text-muted mb-4"></span></label>
                                    {{ form.password }}
                                    
                                    <label>{{ form.validation_pass.label}}<span class="text-muted small"></span></label>
                                    {{ form.validation_pass }}

                                    <label>{{ form.country.label }}<span class="text-muted small"></span></label>
                                    {{ form.country }}
                                    
                                    <label>{{ form.city.label }}<span class="text-muted small"></span></label> 
                                    {{ form.city }}

                                    <label>{{ form.address.label }}<span class="text-muted small"></span></label> 
                                    {{ form.address }}
                                    
                                    <label>{{ form.phone_num.label }}<span class="text-muted small"></span></label>
                                    {{ form.phone_num }}
                                    
                                    <label>{{ form.cap_code.label }}<span class="text-muted small"></span></label> 
                                    {{ form.cap_code }}           
                                    
                                    <div class="text-center">
                                        <button class="btn btn-outline-success btn-block py-2 mb-1 mt-5 fw500 w-100" href="{% url 'account:registration' %}">Register</button>
                                        <input type="hidden" name="next" value="{{ next }}"></input>
                                    </div>
                                </form>

                                <form class="text-center account-form p-4 rounded col-lg-10 mx-auto">
                                    {% csrf_token %}

                                    {% if not user.is_staff %}
                                        <a href="{% url 'account:login' %}">You already have one? Login here!</a>                                
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}