{% extends '../store/base.html' %}

{% block title %}Register{% endblock title %}

{% block content %}
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="login row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body py-5" action="." method="post">
                                <h3 class="text-uppercase text-center mb-5">Create an account</h3>

                                {% csrf_token %}

                                <h3 class="mb-2 font-weight-bold">Create an account</h3>
                                    
                                {% if form.errors %}
                                    <p>Correct the following errors:</p>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <div clss="alert alert-primary" role="alert">
                                                {{ field.label }}: {{ field.errors|striptags }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <form>                                       
                                    <div class="form-outline mb-4">                                       
                                        <label class="{{ form.username.label }}" for="form3Example1cg">Your Name</label>
                                        {{ form.username }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="{{ form.email.label }}" for="form3Example3cg">Your Email</label>
                                        {{ form.email }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="{{form.password.label}}" for="form3Example4cg">Password</label>
                                        {{ form.password }}
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="{{form.validation_pass.label}}" for="form3Example4cdg">Repeat your password</label>
                                        {{ form.validation_pass }}
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-success btn-block btn-lg text-body" type="submit">Register</button>
                                        <button type="button" class="btn btn-outline-success btn-block btn-lg text-body" href="#">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}