[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-braces = "*"
django = "*"
django-crispy-forms = "*"
pillow = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
