{% extends '../store/base.html' %}


{% block title %}Confirm payment{% endblock title %}


{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="mt-5 py-5 login d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-6 mx-auto">
                                <div class="text-center alert alert-success" role="alert">
                                    <h2 class="mb-4">Payed successfully!</h2>
                                    <h5 class="mb-4">Thank you for choosing MangaStore</h5>

                                    <a link href="{% url "account:user_history" %}">See your past orders here</a>
                                </div>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}