{% extends '../store/base.html' %}
{% block title %}Payment{% endblock title %} 

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="py-5 mt-4 col-md-12">
                <div class="login mt-5 py-5 login d-flex align-items-center">
                    <div class="container ">
                        <h3 class="text-center">Payment</h3>
                        <div class="row">
                            <div class="col-12 col-lg-6 mx-auto" action="">                        
                                <form  class="text-center" action="{% url "payment:confirm_pay" %}">
                                    
                                    {% csrf_token %}

                                    <label for="card-element">Credit or debit card</label>
                                    <input type="text" class="form-control"  placeholder="" required>
                                    <div>
                                        <button class="btn btn-outline-success btn-block py-2 mb-4 mt-5" type="submit" value="Save changes">
                                        Save
                                        </button>
                         
                                    </div>
                                  </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
