{% extends '../store/base.html' %}
{% block title %}Payment{% endblock title %} 

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="py-5 mt-4 col-md-12">
                <div class="login mt-5 py-5 login d-flex align-items-center">
                    <div class="container ">
                        <h3 class="text-center">Payment</h3>
                        <div class="row">
                            <div  id="payment-form" class="col-12 col-lg-6 mx-auto">                        
                                <form>
                                    <label for="card-element">Credit or debit card</label>
                                    <input type="text" class="form-control" id="postCode" placeholder="" required>
                                    
                                    <!-- TODO: confirmation payment --></!-->
                                    <button id="submit"  href="#" class="mt-5 btn btn-outline-primary w-100 fw-bold">Pay</button>
                                  </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
