{% extends '../store/base.html' %}
{% load static %}


{% block title %}Cart summary{% endblock title %}


{% block content %}
    <main class="py-5">
        <div class="container">
            <div class="my-5 pb-5 h5">Shopping cart</div>

            {% for item in cart %}
                {% with product=item.product %}
                    <div data-index="{{ product.id }}" class="row mb-4 border product-item">
                        <div class="row mb-1">
                            <div class="col-md-9">
                                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                    <div class="col-auto d-none d-lg-block">
                                        <img href="{{ product.get_absolute_url }}" src="{{ product.image.url }}" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="170px"  height="270px" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                                    </div>
                                    <div class="col p-4 d-flex flex-column position-static">
                                        <h3 class="mb-0">{{ product.title|title }}</h3>
                                        <div class="mb-1 text-muted">{{ product.author|title }}</div>
    
                                        <div class="border">
                                            <div class="col border-bottom">
                                                <div class="row p-3">
                                                    <div class="col-6">Prezzo</div>
                                                    <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }}€</span></div>
                                                </div>
                                            </div>
                
                                            <div class="col">
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label for="select{{product.id}}">Qty</label>
                                                        <select id="select{{product.id}}">
                                                            {% for i in product.get_qty %}
                                                                {% if i|add:1 == item.qty %} <option selected="{{item.qty}}"> {{ item.qty}} </option>
                                                                {% else %}  <option value="{{i|add:1}}">{{ i|add:1 }}</option>
                                                                {% endif %}
                                                            {% endfor %}  
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row-6">
                                                    <button type="button" id="update-button" data-index="{{ product.id }}" class="btn btn-secondary btn-sm update-button" >Update</button>
                                                    <button type="button" id="delete-button" data-index="{{ product.id }}" class="btn btn-secondary btn-sm delete-button" >Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            
            <div class="col-9 text-end">
                <div class="h3 fw-bold">Total price: <a id="subtotal">{{ cart.get_tot_price }}</a>€</div>
            </div>
        </div>
    </main>

    <script>
        $(document).on('click', '.delete-button', function (e)
        {
            e.preventDefault();
            var id = $(this).data('index');
            $.ajax({
                    type: 'POST',
                    url: '{% url "cart:cart_del" %}',
                    data: { productid: $(this).data('index'),
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: 'post' },
                    success: function (json){ 
                            $('.product-item[data-index="' + id + '"]').remove(); 
                            document.getElementById("subtotal").innerHTML = json.subtotal ;
                            document.getElementById("cartqty").innerHTML = json.qty; },
                    error: function (xhr, errmsg, err){}
                    });
        })

        $(document).on('click', '.update-button', function (e)
        {
            e.preventDefault();
            var id = $(this).data('index');
            $.ajax({
                    type: 'POST',
                    url: '{% url "cart:cart_update" %}',
                    data: { productid: $(this).data('index'),
                            productqty: $('#select' + id + ' option').filter(':selected').val(),
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: 'post' },
                    success: function (json){ 
                        document.getElementById("subtotal").innerHTML = json.subtotal;
                        document.getElementById("cartqty").innerHTML = json.qty; },
                    error: function (xhr, errmsg, err){ }
                    });
        })
    </script>
{% endblock content %}

