{% extends './base.html' %}

{% load static %}


{% block title %}MangaStore{% endblock title %}


{% block content %}     
    <main>
        {% if user.is_authenticated %}
            <section class="py-5 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="my-1 pt-5 h1 fw-bold">Welcome, {{ user.username }}</div>
                    </div>
                </div>
            </section> 
            
            {% if user.is_normal %}
                <section class="py-1 text-center container">
                    <div class="row py-lg-2">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <div class="my-1 pt-5 h4 fw-bold">Reccommended for you</div>
                        </div>
                    </div>
                </section> 
            {% endif %}

        {% else %}
            <section class="py-5 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="my-1 pt-5 h1 fw-bold">Wanna read? MangaStore</div>
                        <a href="{% url "account:login" %}" class="lead text-muted">login or register now</a>
                    </div>
                </div>
            </section>  
        {% endif %}
        
      
        <div class="album py-5 bg-light">
            <div class="container">
            <div class="my-5 pb-3 h4">All books</div>
            <div class="row row-cols-1 row-cols-sm-5 row-cols-md-6 g-3">
                {% for p in products %}
                    <div class="col">
                        <div class="card border-0">
                            <div class="card-body">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none" href="{{ p.get_absolute_url }}">{{ p.title|title }}</a>
                                </p>
                            </div>
                            <img href="{{ p.get_absolute_url }}" src="{{ p.image.url }}" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="170px"  height="270px" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock content %}
