{% extends './base.html' %}

{% load static %}


{% block title %}MangaStore{% endblock title %}


{% block content %}     
    <main>
        {% if user.is_authenticated %}
            <section class="py-5 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="h1 fw-bold">Welcome, {{ user.username }}</h1>
                    </div>
                </div>
            </section> 

        {% else %}
            <section class="py-5 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="h1 fw-bold">Wanna read? MangaStore</h1>
                        <p class="lead text-muted">login now for discount*</p>
                        <p>
                            <a href"#" class="btn btn-primary my-2">Sign in</a>
                            <a href"#" class="btn btn-primary my-2">Login</a>
                        </p>
                    </div>
                </div>
            </section>  
        {% endif %}
        
      
        <div class="album py-5 bg-light">
            <div class="container">
            <div class="my-5 pb-3 h5">All books</div>
            <div class="row row-cols-1 row-cols-sm-5 row-cols-md-6 g-3">
                {% for p in products %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img href="{{ p.get_absolute_url }}" src="{{ p.image.url }}" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="170px"  height="270px" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                            <div class="card-body">
                                <p class="card-text">
                                    <!-- TODO: in stock or not  --></!-->
                                    <a class="text-dark text-decoration-none" href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock content %}
