{% extends '../base.html' %}

{% block title %}Add{% endblock title %} 

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 


{% block content %} 
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-12">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-7  mx-auto">
                                <form class="account-form p-4 rounded col-lg-10 mx-auto" action="." method="post">
                                    {% csrf_token %}
                                    <h3 class="mb-4 py-5 text-center font-weight-bold">Create a new product</h3>

                                    <label>{{ form.category.label }}<span class="text-muted small"></span></label>
                                    {{ form.category }}      

                                    <label>{{ form.title.label }}<span class="text-muted small"></span></label>
                                    {{ form.title }}  
                                    
                                    <label>{{ form.author.label }}<span class="text-muted small"></span></label>
                                    {{ form.author }} 
                                    <br>    
                                    
                                    <label>{{ form.description.label }}<span class="text-muted small"></span></label>
                                    {{ form.description }}  
                                    <br><br>

                                    <label>{{ form.image.label }}<span class="text-muted small"></span></label>
                                    {{ form.image }}   
                                    <br><br>   

                                    <label>{{ form.available.label }}<span class="text-muted small"></span></label>
                                    {{ form.available }}      

                                    <label>{{ form.price.label }}<span class="text-muted small"></span></label>
                                    {{ form.price }}      



                                    <div class="text-center">
                                        <button class="btn btn-outline-success btn-block py-2 mb-1 mt-5 fw500 w-100" href="{% url 'store:create_product' %}">Save</button>
                                        <input type="hidden" name="next" value="{{ next }}"></input>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
