{% extends '../base.html' %}


{% block content %}
        <div class="container" style="max-width: 1000px">
            <main class="pt-5 my-5 pb-5">
                <div class="row g-3">
                    <div class="col-md-3 col-lg-5 order-md-first bg-white">
                        <img class="img-fluid mx-auto d-block" width="170px"  height="270px" alt="Responsive image" src="{{ product.image.url }}"></img>
                    </div>
                    
                    <div class="col-md-4 col-lg-7 ps-md-5 ps-lg-5">
                        <h1 class="mb-0 h4">{{ product.title|title }}</h1>
                        <p>
                            Author:
                            <span class="lead">{{ product.author }}</span>
                        </p>
                        <div class="border">
                            <div class="col border-bottom">
                                <div class="row p-3">
                                    <div class="col-6">Prezzo</div>
                                    <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }}€</span></div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row p-3">
                                    <div class="col-6">
                                        <label for="select">Qty</label>
                                        <select id="select">
                                            {% for i in product.get_qty %}
                                                <option value="">{{ i|add:1 }}</option>
                                            {% endfor %}  
                                        </select>
                                    </div>
                                    
                                    <div class="col text-end">
                                        {% if user.is_normal %}
                                            <button type="button" id="add-button" value="{{ product.id }}" class="btn btn-outline-success" >Add to cart</button>   
                                            {% if not usr %}             
                                                <a href="{% url 'store:create_review' product.slug %}" type="button" class="btn btn-outline-warning">Rate</a>
                                            {% endif %}                      
                                        {% endif %} 
                                    </div>  
                                </div>
                            </div>
                            <p>{{ product.description|capfirst }}</p>      
                        </div>                       
                    </div>
                    
                    <div class="my-5 pb-3 h4">Reviews</div>  
                               
                    {% for r in reviews %}
                        <div class="alert alert-secondary">
                            {{ r.user }}: {{ r.rate }}/5
                            <br>
                            {{ r.text }}
                            <br>
                            {{ r.date }}
                        </div>                                
                    {% endfor %}
                </div>
            </main>
        </div>

        <script>
            $(document).on('click', '#add-button', function (e)
            {
                e.preventDefault();
                $.ajax({
                        type: 'POST',
                        url: '{% url "cart:cart_add" %}',
                        data: { productid: $('#add-button').val(),
                                productqty: $('#select option:selected').text(),
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: 'post' },
                        success: function (json){ 
                                document.getElementById('cartqty').innerHTML = json.qty },
                        error: function (xhr, errmsg, err){}
                        });
            })
        </script>
{% endblock content %}