{% extends '../base.html' %}
{% load static %}


{% block title %}Cart summary{% endblock title %}


{% block content %}
    {% for p in products %}
        <div class="col-md-7">
            <div class="row g-0  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ p.image.url }}" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="170px"  height="270px" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                </div>
                <div class="col p-5 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ p.price }}€</h3>
                    <p class="mb-auto">{{ p.title|title }}</p>
                </div>
                
                <div class="col">
                    <div class="row p-5">
                        <div class="col-6">
                            <label for="select">Qty</label> 
                            <select id="select">
                                {% for i in p.get_qty %}
                                    <option value="">{{ i|add:1 }}</option>
                                {% endfor %}  
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

