{% extends '../base.html' %}
{% load static %}


{% block title %}Cart summary{% endblock title %}


{% block content %}
    <main>
        <div class="container">
            <h1 class="h5">Shopping cart</h1>

            {% for item in cart %}
                {% with product=item.product %}
                    <div class="row mb-2">
                        <div class="col-md-7">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col-auto d-none d-lg-block">
                                    <img href="{{ product.get_absolute_url }}" src="{{ product.image.url }}" class="featurette-image img-fluid mx-auto" alt="Responsive image" width="170px"  height="270px" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                                </div>
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="mb-0">{{ product.title|title }}</h3>
                                    <div class="mb-1 text-muted">{{ product.author|title }}</div>

                                    <div class="border">
                                        <div class="col border-bottom">
                                            <div class="row p-3">
                                                <div class="col-6">Prezzo</div>
                                                <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }}€</span></div>
                                            </div>
                                        </div>
            
                                        <div class="col">
                                            <div class="row p-3">
                                                <div class="col-6">
                                                    <label for="select">Qty</label>
                                                </div>
                                            </div>
                                            <div class="row-6 text-end">
                                                <button type="button" id="add-button" value="{{ product.id }}" class="btn btn-secondary btn-sm" >Add to cart</button>
                                                <button type="button" id="add-button" value="{{ product.id }}" class="btn btn-secondary btn-sm" >Delete from cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            
            <div class="col-12 text-end">
                <div class="h6 fw-bold">Total price: <span id="subtotal">{{ cart.get_tot_price }}</span></div>
            </div>
        </div>
    </main>
{% endblock content %}

